* {
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	padding: 20px 20px 0 20px;
	background-color: #FFFFFF;
}

#personal_info, #professional_info {
	text-align: center;
}

#personal_info h1, #personal_info p {
	margin: 0;
}

#professional_info h2 {
	margin-bottom: .25em;
}

#professional_info ul {
	list-style-type: none;
	padding: 0;
}

#professional_info li {
	display: inline-block;
}

#middle_item:after, #middle_item:before {
	content: ' | '
}